.navbar a i {
  height: 20px;
  width: 20px;
}

header {
  height: 60px;
}

body {
  background-image: url(../pictures/capture.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1680px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1395px;
  margin: 0 auto;
}

.container img {
  width: 190px;
  height: 40px;
}

.logo {
  display: flex;
  width: 25%;
}

.navbar {
  display: flex;
  width: 50%;
}

.buger {
  width: 1000000px;
}
